body {
  font-family: sans-serif;
  margin: 0;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  padding: 0 4rem;
  flex-grow: 1;
  margin-top: 6vh;
}

footer {
  background-color: rebeccapurple;
  color: white;
  padding: 1rem 4rem;
}
